body, html{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Amatic SC', cursive;
}

nav {
  position: fixed;
  top: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #0e1111;
  color: white;
  height: 100%;
  width: 17.5vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav a, .nav-link {
  color: white;
}
nav .nav-link {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: right;
  align-text: center;
}
nav .nav-links:not(:first-child) {
  padding: 5rem 0;
}
nav .nav-link i {
  font-size: 1.5em;
  padding: 0 1em;
}
nav span {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}
nav .dropdown {
  display: none;
}

main section {
  padding: 1rem 3rem;
}
main {
  position: relative;
  width: 80vw;
  left: 17.5vw;
}
main h2 {
  font-size: 3em;
}
main p {
  font-size: 1em;
}

@media screen and (min-width:991px) {
  nav .header {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav #social-medias i {
    font-size: 1.5em;
    padding: 0 0.25em;
  }
  nav .header hr {
    width: 50%;
  }
}

/* TABLET VIEW */

@media screen and (min-width:768px) and (max-width:991px) {
  body, html {
    flex-direction: column;
  }
  nav {
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: #0e1111;
    color: white;
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  nav .nav-links {
    display: flex;
    flex-direction: row;
  }
  nav .nav-links:not(:first-child) {
    padding: 0;
  }
  nav .header hr, nav #social-medias{
    display: none;
  }
  main {
    left: 0;
    top: 10vh;
    width: 100%;
  }
}

/* MOBILE */

@media screen and (max-width:768px) {
  body, html {
    flex-direction: column;
  }
  nav {
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: #0e1111;
    color: white;
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  nav h1 {
    margin: 0;
  }
  nav .header hr, nav #social-medias, .nav-link span{
    display: none;
  }
  nav .nav-link {
    font-size: 10rem;
  }
  nav .nav-links {
    padding: 0;
    display: none;
  }
  nav .dropdown-toggle::after {
    content: none;
}
  nav .dropdown{
    display: block;
  }
  main {
    left: 0;
    top: 0;
    width: 100%;
  }
}

/* END OF MOBILE */

#main {
  display: flex;
  height: 100vh;
  background:linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ), url("img/header.jpg");
  background-position: center;
  background-position-y: 30%;
  background-repeat: no-repeat;
  background-size: cover;

  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;

}
#main h1 {
  font-weight: bold;
  font-size: 5rem;
}
#main h2 {
  font-size: 3rem;
}

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gallery hr {
  width: 8em;
}
#gallery img {
  padding-bottom: 2em;
}

#about-me hr {
  width: 10em;
}

#education {
  display: flex;
  flex-direction: column;
}
#education hr {
  width: 9em;
}
#education img {
  width: 7%;
}
#education h3 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center
}
#education div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#past-projects hr {
  width: 12em;
}

main footer {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  background-color: #0e0000;
  color: white;
  text-align: center;
  justify-content: center;
}
main footer i {
  color: white;
  font-size: 1.5em;
  padding: 0.35em;
}
